/* LoginPage.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f3ed;
}

.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffcf9;
}

.login-content {
  display: flex;
  flex-wrap: wrap; /* Adjust layout for smaller screens */
  justify-content: center;
  margin-top: 13vh;
  align-items: center;
  flex: 1;
  gap: 300px;
  padding: 20px;
}

.logo-section {
  flex: 1;
  text-align: center;
  max-width: 400px; /* Limit logo size on wider screens */
}

.logo-section .logo-large {
  width: 400px;
  margin-right: 50px;
  height: auto;
}

.login-section {
  flex: 1;
  background-color: #fff4eb;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 460px; /* Limit form width */
  width: 100%;
}

.login-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-size: 14px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.login-submit {
  background-color: #ff7f45;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
.login-form .login-submit:hover {
  background-color: #ff5200;
}

.login-links {
  margin-top: 20px;
  text-align: center;
}

.login-links a {
  color: #ff7f45;
  text-decoration: none;
  font-size: 14px;
}

.login-links p {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-content {
    flex-direction: column;
    padding: 10px;
  }

  .logo-section,
  .login-section {
    max-width: 100%;
  }

  .logo-section .logo-large {
    width: 200px;
  }

  .login-section {
    padding: 15px;
  }
}
